<h1>Administrator</h1>

{{new-entry submitEntry="submitEntry"}}
<br>
<div class="listPosts">
  <h3>Posts</h3><br>
  {{#each model as |post|}}
    {{#link-to 'post' post.id}}<span id="listPostTitle">{{post.title}}</span>{{/link-to}}
      {{edit-entry post=post editEntry="editEntry"}}
      <button id="delete" class="btn btn-danger btn-xs" {{action 'deleteEntry' post}}>Delete</button><br><hr>
  {{/each}}
</div>
